$primary_bgcolor:rgb(214, 240, 240);

.productDiv{
    border: 1px solid #aaa;
    width: 150px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    background-color: $primary_bgcolor;

}
.productDiv img{
    width: 100%;
    height: 100px;
}
.ProductContainer{

    display: flex;
    flex-wrap: wrap;
}